*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: black;
    background-image: url(imagenes/Estrellas.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* index */

.hero{
    min-height: 800px;
    width: 100%;
    background-color: black;
    background-image: url(imagenes/Nanbaka-Fondo.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 0 8%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 60px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: larger;
}

nav ul li:hover a{
    background-color: #FE0096;
    padding: 20px 30px;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    transition: 0.5s;
}

.hero h1{
    text-align: center;
    font-size: 75px;
    margin-top: 12%;
}

.hero h3{
    text-align: center;
    font-size: 25px;
    
}

.hero p{
    color: white;
    text-align: center;
    font-size: 14px;
    margin-top: 1%;
}

.hero .button1{
    background-color: #FE0096;
    border-radius: 30px;
    outline: none;
    padding: 15px 35px;
    color: white;
    margin-top: 25px;
    font-weight: 500;
    font-size: large;
    letter-spacing: 1px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
}

.hero .button2{
    background-color: #ffffff;
    border-radius: 30px;
    outline: none;
    padding: 15px 50px;
    color: rgb(0, 0, 0);
    margin-top: 25px;
    font-weight: 500;
    font-size: large;
    letter-spacing: 1px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
}

footer{
    text-align: center;
    background-color: #FE0096;
    color: white;
    font-size: medium;
}

/* page1 */
.hero1y2{
color: white;
}

.container{
    width: 1300px;
    height: 450px;
    background-color: transparent;
    margin: 70px auto;
    display: flex;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.col{
    height: 100%;
    flex: 1;
    box-sizing: border-box;
    padding: 25px;
    position: relative;
    transition: 0.6s;
    border-radius: 10px;
    font-weight: bold;
}

.col:nth-child(1){
    background: #DCDCDC;
    color: rgb(254, 0, 150);
}

.col:nth-child(2){
    background: rgb(254, 0, 150);
    color: #DCDCDC;
}

.col:nth-child(3){
    background: #DCDCDC;
    color: rgb(254, 0, 150);
}

.col:nth-child(4){
    background: rgb(254, 0, 150);
    color: #DCDCDC;
}

.col:nth-child(5){
    background: #DCDCDC;
    color: rgb(254, 0, 150);
}

.col:nth-child(6){
    background: rgb(254, 0, 150);
    color: #DCDCDC;
}

h2{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

p{
text-align: justify;
}

.caption{
    max-width: 230px;
    font-size: 12px;
    margin: 28px 0;
    display: none;
}

.caption .button3{
border: 4px solid #DCDCDC;
background: transparent;
outline: none;
padding: 8px 18px;
color: white;
border-radius: 30px;
margin-top: 20px;
cursor: pointer;
font-size: 12px;
font-weight: bold;
}

.caption .button4{
    border: 4px solid rgb(254, 0, 150);
    background: transparent;
    outline: none;
    padding: 8px 18px;
    color: rgb(254, 0, 150);
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    }

.col img{
    width: 250px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.col:hover{
    flex-grow: 2.5;
}

.col:hover .caption{
   display: block;
}

.col:hover h2{
    text-align: left;
}

/* page2*/
.main{
    width: 100%;
    height: 530px;
    display: flex;
}

.left-col{
    flex-basis: 50%;
    position: relative;
    left: 60px;
    margin-top: 70px;
    color: white;
}

.left-col h1{
    font-size: 45px;
    margin: 15px 0;
}

.left-col h2{
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
    color: rgb(254, 0, 150);
}

.left-col p{
    font-size: 12px;
    margin-bottom: 20px 20px 40px;
    line-height: 15px;
    margin-bottom: 30px;
    margin-right: 200px;
}

.left-col .button5{
    border: 4px solid rgb(254, 0, 150);
    background: rgb(254, 0, 150);
    outline: none;
    padding: 8px 18px;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}

.right-col{
    flex-basis: 50%;
    position: relative;
}

.video{
    position: absolute;
    right: 60px;
    bottom: 40px;
    width: 100%;
    height: auto;
}
